<!-- Sites HB Text Layout -->

<div data-key="{{ key }}" data-content-item-id="{{ $metadata.id }}" data-accessor="{{ $metadata.accessor }}"
  style="{{{background.$markup}}}{{{alignment.$markup}}}{{{lineHeight.$markup}}}{{{textStyle.$markup}}}
  {{~#if padding}}padding: {{{padding.$markup}}}; {{/if}}
  {{~#if margin}}margin: {{{margin.$markup}}}; {{/if}}"
>{{{text}}} padding: <pre>{{stringify padding}}</pre></div>

<!-- End Sites HB Text Layout -->
